.new-recipes {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 1024px) {
    padding: 0;
  }

  &__title {
    font-family: var(--font-secondary);
    font-size: 67px;
    color: var(--color-primary);
    text-align: left;
    margin-bottom: 60px;
    margin-left: 20px;

    @media (max-width: 1024px) {
      margin-left: 20px;
    }
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    @media (max-width: 1024px) {
      justify-content: flex-start;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: visible;
      cursor: grab;
      padding: 60px 20px 20px 20px;
      margin-top: -40px;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &:active {
        cursor: grabbing;
      }
    }
  }
}